.DeleteButton-wrapper{
  background-color: red;
  position:relative;
  left:86%;
  top:-1.92em;
  border-radius:9px;
  width:32px;
  height:31px;
  opacity:0.6;
  transition: width 0.3s,background .1s;
  transition-property: width, background;
  transition-duration: 0.3s, 0.1s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;

}

.DeleteButton-wrapper:hover{
  width:30%;
  opacity:1;
}
