
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.Header {
  text-align: center;
  margin:0 auto;
  height:30px;
  width:30%;
  font-family: 'Roboto', sans-serif;
}

.header-text{
border-radius:3px;
height:100%;
color:white;
background-color:#009688;
padding-top:4px;

}
